<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTitle</key>
	<string>Patcher via Intune</string>
	<key>ConvertAppsInHomeFolder</key>
	<true/>
	<key>DaysUntilReset</key>
	<integer>7</integer>
	<key>DeadlineCountFocus</key>
	<integer>3</integer>
	<key>DeadlineHardCount</key>
	<integer>3</integer>
	<key>DeferralNextLaunchMinutes</key>
	<integer>60</integer>
	<key>DeferralTimerError</key>
	<integer>60</integer>
	<key>DeferralTimerFocus</key>
	<integer>60</integer>
	<key>DeferralTimerMenu</key>
	<string>30,60,90,480,720,1440,2880</string>
	<key>DialogOnTop</key>
	<true/>
	<key>DialogTimeoutDeferral</key>
	<integer>300</integer>
	<key>DialogTimeoutDeferralAction</key>
	<string>Defer</string>
	<key>IgnoreAppsInHomeFolder</key>
	<true/>
	<key>IgnoreAppsOnExternalVolumes</key>
	<false/>
	<key>IgnoredLabels</key>
	<string>bbedit brave firefox_da firefox_intl firefox firefoxesr_intl firefoxesr firefoxpkg_intl googlechrome* microsoft* nudge* renew-noagent thunderbird_intl thunderbirdesr zoomclient zoomgov zulujdk*</string>
	<key>IgnoreNonProductionLabels</key>
	<true/>
	<key>NonProductionLabelSuffixes</key>
	<string>beta canary dev</string>
	<key>InstallomatorGitHubAccount</key>
	<string>Installomator</string>
	<key>InstallomatorGitHubBranch</key>
	<string>main</string>
	<key>InstallomatorGitHubRepo</key>
	<string>Installomator</string>
	<key>InteractiveMode</key>
	<string>3</string>
	<key>PatchWeekStartDay</key>
	<integer>1</integer>
	<key>RemoveInstallomatorPath</key>
	<false/>
	<key>RequiredLabels</key>
	<string>desktoppr dockutil nudgesuite</string>
	<key>SupportTeamEmail</key>
	<string>support@company.com</string>
	<key>SupportTeamName</key>
	<string>Company Support Team</string>
	<key>SupportTeamPhone</key>
	<string>555-555-5555</string>
	<key>SupportTeamWebsite</key>
	<string>support.company.com</string>
	<key>UnattendedExit</key>
	<false/>
	<key>UnattendedExitSeconds</key>
	<integer>60</integer>
	<key>UseOverlayIcon</key>
	<true/>
	<key>VerboseMode</key>
	<true/>
	<key>WebhookFeature</key>
	<false/>
	<key>WebhookURLSlack</key>
	<string>longURL</string>
	<key>WebhookURLTeams</key>
	<string>longerURL</string>
	<key>WorkflowDisableAppDiscovery</key>
	<false/>
</dict>
</plist>
